<% layout("/layouts/boilerplate") %>

<!-- <style>
    .fa-solid{
        font-size:1.5rem;
        color:brown;
    }
</style> -->

    <h1>Edit Blog</h1>
    <div class="mb-3"></div>
    <form action="/blogs/<%= blog.id %>?_method=PUT" method="POST" class="edit-form">
        <input type="text" name="title" id="name" class="form-control"  value=" <%= blog.title %>" required>
       
        <label for="content" class="form-label">Content</label>

        <textarea name="content" id="content"class="form-control" placeholder="Content of your blog" cols="6" rows="3"><%= blog.content %></textarea>
        <button type="submit"  class="btn btn-success mt-3">UPDATE</button>
    </form>
    <!-- <a href="/blogs" class=" btn btn-light"><i class="fa-solid fa-rotate-left"></i></a> -->
</div>